# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Environment variables
.env.*
*.env

# Database
*.db
results.db

# Outputs & uploads
outputs/
data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
